.button {
  padding-inline: 40px;
  padding-block: 16px;
  font-family: 'Roboto-Medium';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background: #9333ea;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #6b24ae;
}

.button--mini {
  padding-inline: 28px;
  padding-block: 12px;
  font-size: 16px;
  line-height: 1.5;
}

.button--transparent {
  background-color: transparent;
}

.button--white-border {
  border: 2px solid #fff;
  background-color: transparent;
  padding-block: 14px;
}

.button--white-border:hover {
  border: 2px solid #6b24ae;
}

/* *************************** */
.title {
  font-family: 'Roboto-ExtraBold', sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 1.1;
  text-wrap: balance;
}

.title--center {
  text-align: center;
}

@media (max-width: 991.98px) {
  .title {
    font-size: 46px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 479.98px) {
}
/* *************************** */
.label {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.label--margin {
  margin-bottom: 16px;
}
/* *************************** */

.block-header {
  display: grid;
  gap: 32px;
}

.block-header--center {
  justify-content: center;
}

.block-header__title {
  font-family: 'Roboto-ExtraBold', sans-serif;
  font-size: 72px;
  line-height: 1.1;
  text-wrap: balance;
}

.block-header__title span {
  display: inline-block;
}

.block-header__bg,
.block-header__border,
.block-header__line {
  position: relative;
}

.block-header__bg span,
.block-header__border span,
.block-header__line span {
  position: relative;
  z-index: 2;
}

.block-header__bg::before {
  content: '';
  position: absolute;
  left: -8px;
  height: 100%;
  width: 23%;
  background-color: #be185d;
}

.block-header__border::before {
  content: '';
  position: absolute;
  left: -12px;
  height: 100%;
  width: 98%;
  border: 5px solid #c2410c;
}

.block-header__line::before {
  position: absolute;
  content: '';
  left: 4px;
  background-color: #c084fc;
}

.block-header__line--bottom::before {
  bottom: 0;
  height: 5px;
  width: 190px;
}

.block-header__line--top::before {
  top: 17px;
  height: 8px;
  width: 196px;
}

.block-header__purpur {
  color: #9333ea;
}

.block-header__lite-purpur {
  color: #c084fc;
}

.block-header__text {
  max-width: 760px;
  text-wrap: balance;
}

.block-header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.block-header__link {
  justify-self: start;
  padding-right: 35px;
  background: url('../images/icons/arrow-right.svg') right no-repeat;
}

.block-header__link span {
  position: relative;
  display: inline-block;
}

.block-header__link span::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #9333ea;
  transition: width 0.5s;
}

.block-header__link:hover span::after {
  width: 100%;
}

@media (max-width: 991.98px) {
  .block-header__border::before {
    left: -7px;
    border: 3px solid #c2410c;
  }
}

@media (max-width: 767.98px) {
  .block-header__title {
    font-size: 60px;
  }

  .block-header__line--bottom::before {
    display: none;
  }

  .block-header__line--top::before {
    top: 13px;
    width: 152px;
  }

  .block-header__border::before {
    left: -5px;
    width: 98%;
    border: 2px solid #c2410c;
  }
}

@media (max-width: 479.98px) {
  .block-header__title {
    font-size: 40px;
  }

  .block-header__bg::before {
    left: -4px;
  }

  .block-header__line--top::before {
    top: 10px;
    width: 108px;
  }

  .block-header__buttons {
    flex-direction: column;
    align-items: stretch;
  }
}
