html {
  box-sizing: border-box;
}

html,
body {
  min-block-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

[class*='__container'] {
  max-inline-size: 1310px;
  margin-inline: auto;
  padding-inline: 15px;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  background: #0f172a;
}
