/* @import url('components.css'); */

html {
  box-sizing: border-box;
}

html,
body {
  block-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
}

[class*='__container'] {
  max-inline-size: 1310px;
  margin-inline: auto;
  padding-inline: 15px;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  background: #0f172a;
}

@media (max-width: 767.98px) {
  body {
    font-size: 16px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.page {
  flex-grow: 1;
}

/* **************** header */

.header {
  padding-block: 24px;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header__container {
  max-inline-size: 1030px;
}

.header__body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 5px 46px;
  max-inline-size: 1030px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: #192131;
  /* background: rgba(255, 255, 255, 0.05); */
}

.header__link-logo {
  position: relative;
  z-index: 3;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
  transition: color 0.3s ease;
}

.header__link-logo:hover {
  color: #6b24ae;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 24px;
}

.menu__link {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
  transition: color 0.3s ease;
}

.menu__link:hover {
  color: #6b24ae;
}

.actions-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 16px;
}

.icon-menu {
  display: none;
}

/* ***** tablet ***** */

@media (max-width: 991.98px) {
  .header {
    padding-block: 16px;
  }

  .header__body {
    gap: 5px 25px;
    padding: 15px;
  }

  .menu__list {
    gap: 5px 20px;
  }

  .header__actions {
    gap: 0 10px;
  }

  .actions-header__button.button--mini {
    padding-inline: 15px;
  }
}

/* ***** mob ***** */

@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    inset-inline-start: -100%;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: 100%;

    overflow: auto;

    background-color: #0f172a;

    padding-block-start: 105px;
    padding-block-end: 30px;
    padding-inline: 15px;
    transition: inset-inline-start 0.3s ease;
  }

  .menu::before {
    position: fixed;
    content: '';
    z-index: 2;
    block-size: 64px;
    inset-block-start: 15px;
    inset-inline-start: 15px;
    inset-inline-end: 15px;

    visibility: hidden;

    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: #192131;

    transition: visibility 0.3s;
  }

  .open-menu .menu {
    inset-inline-start: 0;
  }

  .open-menu .menu::before {
    visibility: visible;
  }

  .header__body {
    padding-block: 8px;
    padding-inline-start: 24px;
    padding-inline-end: 8px;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 30px 24px;
    padding-inline-end: 18px;
  }

  .menu__link {
    font-size: 30px;
  }

  .icon-menu {
    position: relative;
    z-index: 3;
    inline-size: 48px;
    block-size: 48px;
    display: flex;
  }
  .icon-menu__bar,
  .icon-menu::before,
  .icon-menu::after {
    position: absolute;
    content: '';
    block-size: 4px;
    border-radius: 3px;
    background-color: #fff;
  }

  .open-menu .icon-menu__bar {
    transform: translate(-50%, -50%) rotate(-45deg);
    inline-size: 32px;
  }

  .open-menu .icon-menu::before {
    transform: translate(0, 2px) rotate(45deg);
  }

  .open-menu .icon-menu::after {
    transform: translate(0, -2px) rotate(45deg);
  }

  .icon-menu__bar {
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-50%, -50%);
    inline-size: 28px;
  }

  .icon-menu::before,
  .icon-menu::after {
    inline-size: 15px;
  }

  .icon-menu::before {
    inset-inline-start: 10px;
    inset-block-start: 14px;
  }

  .icon-menu::after {
    inset-inline-end: 10px;
    inset-block-end: 14px;
  }

  @media (max-width: 439.98px) {
    .actions-header__button {
      display: none;
    }
  }
}
/* ************************* */
/* .page {
}

.page__hero {
}

.page__companies {
}

.page__discover {
}

.page__powerful {
}

.page__customers {
}

.page__speed {
} 

.page__testimonials {
}

.page__events {
}
*/

[class*='page__'] {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 991.98px) {
  [class*='page__'] {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  [class*='page__'] {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
/* ********************* */
.hero {
  padding-top: 104px;
}

.hero__container {
  text-align: center;
}

.hero__block-header {
  margin-bottom: 80px;
}

.hero__image {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}

@media (max-width: 991.98px) {
  .hero {
    padding-top: 70px;
  }

  hero__block-header {
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding-top: 35px;
  }

  hero__block-header {
    margin-bottom: 48px;
  }
}
/* ************************* */

.companies__title {
  margin-bottom: 80px;
}

@media (max-width: 991.98px) {
  .companies__title {
    margin-bottom: 60px;
  }
}

@media (max-width: 767.98px) {
  .companies__title {
    margin-bottom: 48px;
  }
}

.companies__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

/* ******************************* */

.discover__container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 29.3%;
  gap: 0 80px;
}

.discover__media {
  padding-top: 36px;
}

.discover__image {
  max-width: 100%;
}

@media (max-width: 991.98px) {
  .discover__container {
    column-gap: 40px;
  }
}

@media (max-width: 767.98px) {
  .discover__container {
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 48px;
  }
  .discover__block-header {
    justify-items: center;
    text-align: center;
  }

  .discover__block-header .block-header__link {
    justify-self: center;
  }
}
/* ******************************** */

.powerful__container {
  display: grid;
  align-items: start;
  grid-template-columns: 35.16% 1fr;
  gap: 0 80px;
}

.powerful__body {
  align-self: center;
}

.powerful__image {
  max-width: 100%;

  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background: #fff;

  overflow: hidden;
}

@media (max-width: 767.98px) {
  .powerful__container {
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 48px;
  }
  .powerful__block-header {
    justify-items: center;
    text-align: center;
  }
}
/* ******************************* */

.customers__container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 29.3%;
  gap: 48px 80px;
}

.customers__media {
  padding-top: 36px;
}

.customers__image {
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .customers__container {
    grid-template-columns: auto;
    justify-items: center;
  }
  .customers__block-header {
    justify-items: center;
    text-align: center;
  }

  .discover__block-header .block-header__link {
    justify-self: center;
  }
}
/* *************************** */

.speed__container {
  display: grid;
  align-items: start;
  grid-template-columns: 35.16% 1fr;
  gap: 0 80px;
}

.speed__body {
  align-self: center;
}

.speed__image {
  max-width: 100%;

  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background: #fff;

  overflow: hidden;
}

.speed__image {
  max-width: 100%;

  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07), 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  background: #fff;

  overflow: hidden;
}

@media (max-width: 767.98px) {
  .speed__container {
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 48px;
  }
  .speed__block-header {
    justify-items: center;
    text-align: center;
  }
}
/* ****************************** */

.testimonials {
  background-color: #581c87;
}
.testimonials__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  align-items: center;
}

.testimonials__image {
  max-width: 100%;
  border-radius: 50px;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07), 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: #fff;

  overflow: hidden;
}

.item-testimonials {
  display: grid;
  gap: 16px;
}

.item-testimonials__text {
  line-height: 1.6;
}

.item-testimonials__body {
  display: flex;
  align-items: flex-start;
  gap: 0 16px;
}

.item-testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.item-testimonials__info {
  align-self: center;
}

.item-testimonials__name {
  line-height: 1.6;
}

.item-testimonials__position {
  font-size: 16px;
  line-height: 1.4;
}

@media (max-width: 991.98px) {
  .testimonials__container {
    gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .testimonials__container {
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 32px;
  }

  .testimonials__block-header {
    justify-items: center;
    text-align: center;
  }

  .testimonials__block-header .block-header__link {
    justify-self: center;
  }
}
/* ********************************* */

.events {
  background-color: #fff;
  color: #0f172a;
}

.events__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.events__header:not(:last-child) {
  margin-bottom: 24px;
}

.events__link {
  flex-shrink: 0;
}

.events__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(330px, 100%), 1fr));
  gap: 24px;
}

.item-event {
  position: relative;
}

.item-event__category {
  position: absolute;
  z-index: 2;
  top: 16px;
  left: 16px;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 1.4;
  color: #6b21a8;
  background-color: #f3e8ff;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}

.item-event__category:hover {
  color: #fff;
  background-color: #6b21a8;
}

.item-event__link-image {
  display: block;
  overflow: hidden;
  border-radius: 5px;
}

.item-event__image {
  overflow: hidden;

  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 410 / 220;

  transition: transform 0.5s;
}

.item-event__image:hover {
  transform: scale(1.05);
}

.body-item-event {
  padding-top: 24px;
}

.body-item-event__category {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  transition: text-decoration 0.3s;
}

.body-item-event__category:not(:last-child) {
  margin-bottom: 4px;
}

.body-item-event__category:hover {
  text-decoration: underline;
}

.body-item-event__title {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  transition: color 0.3s;
}

.body-item-event__title:not(:last-child) {
  margin-bottom: 28px;
}

.body-item-event__title:hover {
  color: #6b21a8;
}

@media (max-width: 991.98px) {
  .body-item-event__title {
    font-size: 32px;
  }
}
@media (max-width: 767.98px) {
  .body-item-event__title {
    font-size: 24px;
  }
}

@media (max-width: 467.98px) {
  .events__header {
    flex-direction: column;
    text-align: center;
  }
}
/* ******************************** */
.footer {
  border-top: 1px solid #cbd5e1;

  background-color: #fff;
  color: #0f172a;
}
.footer__container {
}
.footer__body {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 48px;
  padding-block: 48px;
  border-bottom: 1px solid #e2e8f0;
}

.footer__logo {
  flex-basis: 200px;
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1;
}

.footer__nav {
}
.nav-footer {
  flex-basis: 220px;
}
.nav-footer__title {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #94a3b8;
  text-transform: uppercase;
}

.nav-footer__title:not(:last-child),
.nav-footer__item:not(:last-child) {
  margin-bottom: 24px;
}

.nav-footer__item {
  font-size: 16px;
  line-height: 1.4;
}

.nav-footer__list {
}

.nav-footer__link {
  transition: text-decoration 0.3s;
}

.nav-footer__link:hover {
  text-decoration: underline;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-block: 48px;
}

.footer__copy {
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social {
}
.social__item {
}
.social__link {
}
.social__img {
}
